!!! 5
%html#dashboard
	%head
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
		%title= content_for?(:title) ? yield(:title) : 'TrendNG'
		%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Call Center App'}"}
		= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
		= csrf_meta_tags
    
	%body
		%header#top-nav.navbar.navbar-inverse.navbar-static-top
			.container
				
				= render 'layouts/dash/nav'

		.container
			.row
				%aside.col-md-3
					- unless devise_controller?
						= render 'layouts/dash/aside'
				.col-md-9
					= render 'layouts/messages'
					= yield
		%footer
		-# JS
		= javascript_include_tag "application", "data-turbolinks-track" => true